footer{
background-color:chocolate;
padding: 25px 100px;
color:black;
font-style: oblique;
}

footer .colones{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
font-style: oblique;
cursor: pointer;
}


@media screen and (max-width: 640px){
body .page{
    margin: 10px;
}
} 
header{
margin-top: 20px;
image-resolution:250px 250px;


}